<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <article>
    <h2>This is an article!</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non est maxime illum libero dolores harum unde. Sed
      praesentium a necessitatibus facilis commodi aut aliquam recusandae, impedit sint quae laboriosam ratione.</p>
  </article>
</body>

</html>