<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav class="navbar navbar-light fixed-top">
    <a class="navbar-brand" href="#">Home</a>
    <a class="navbar-brand" href="#">About Me</a>
    <a class="navbar-brand" href="#">Education</a>
    <a class="navbar-brand" href="#">Projects</a>
    <button class="navbar-toggler navbar-dark " type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Projects</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 id="name" class="display-4">Dylan J. Kelley</h1>
    </div>
  </div>

  <section>

    <div class="home-content" style="height:100%;background-color:black;font-size:150%;color:white">
      <h2 class="home-header">Personal Profile</h2>
      <p class="home-description">Hardworking, methodical first year Coding student who is able to push through problems
        to find a solution and
        able
        to talk and get along with various different people. Seeking the position of Web Developer.</p>
    </div>

    <div class="parallax-2" style="color: transparent">Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Consequuntur molestias ducimus et voluptate dignissimos aliquam assumenda, sint dolores animi iure modi
      voluptatibus eius laudantium velit nobis distinctio nemo ad dolor? Lorem ipsum, dolor sit amet consectetur
      adipisicing elit. Officiis eveniet cumque nam aspernatur incidunt nulla suscipit voluptatem magni architecto,
      asperiores maxime ipsum. Temporibus, minus. Molestias recusandae saepe officia veritatis praesentium? Lorem ipsum
      dolor, sit amet consectetur adipisicing elit. Quaerat officia, architecto voluptatum id ratione cum ipsam, nam
      vero, nulla obcaecati totam tenetur eius? Corporis ad rem mollitia exercitationem perspiciatis praesentium. Lorem
      ipsum dolor, sit amet consectetur adipisicing elit. Dicta, numquam voluptatem cumque minus asperiores tempora
      quibusdam rem exercitationem recusandae aperiam necessitatibus veritatis hic fugiat nostrum nam, atque eligendi?
      Necessitatibus, voluptates. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam soluta explicabo
      aspernatur illum dolorum molestiae itaque tenetur, eum aliquam ducimus repellendus incidunt molestias ea dolorem
      minima, omnis veritatis amet pariatur? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt
      provident corrupti quos ea nobis accusamus ipsum aspernatur fuga nisi tenetur atque, debitis soluta eum dolor
      eligendi id aperiam exercitationem! Delectus. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Perspiciatis voluptate soluta non esse debitis quasi deleniti, totam dolores vitae aut, iusto numquam dolor,
      aliquam error distinctio cupiditate quae! Quod, temporibus. Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Ipsa, quasi. Sapiente quas rem corporis iusto, animi veritatis culpa velit officiis, est doloremque
      obcaecati eum! Velit repudiandae ipsam cum praesentium unde.</div>

    <div class="home-content" style="height:100%;background-color:black;font-size:150%;color:white">
      <h2 class="home-header">Knowledge, Skills, and Abilities</h2>

      <p class="home-description">
        Complex Problem Solving — Identify complex problems and review related information to develop and evaluate
        options
        and implement solutions. <br>
        Critical Thinking — Use logic and reasoning to identify the strengths and weaknesses of alternative solutions,
        conclusions or approaches to problems. <br>
        Active Listening — Give full attention to what other people are saying, take time to understand the points being
        made, ask questions as appropriate, and not interrupting at inappropriate times. <br>
        Judgment and Decision Making — Consider the relative costs and benefits of potential actions to choose the most
        appropriate one. <br>
        Reading Comprehension — Understand written sentences and paragraphs in work related documents.
      </p>
    </div>

    <div class="parallax-3" style="color: transparent">Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Consequuntur molestias ducimus et voluptate dignissimos aliquam assumenda, sint dolores animi iure modi
      voluptatibus eius laudantium velit nobis distinctio nemo ad dolor? Lorem ipsum, dolor sit amet consectetur
      adipisicing elit. Officiis eveniet cumque nam aspernatur incidunt nulla suscipit voluptatem magni architecto,
      asperiores maxime ipsum. Temporibus, minus. Molestias recusandae saepe officia veritatis praesentium? Lorem ipsum
      dolor, sit amet consectetur adipisicing elit. Quaerat officia, architecto voluptatum id ratione cum ipsam, nam
      vero, nulla obcaecati totam tenetur eius? Corporis ad rem mollitia exercitationem perspiciatis praesentium. Lorem
      ipsum dolor, sit amet consectetur adipisicing elit. Dicta, numquam voluptatem cumque minus asperiores tempora
      quibusdam rem exercitationem recusandae aperiam necessitatibus veritatis hic fugiat nostrum nam, atque eligendi?
      Necessitatibus, voluptates. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam soluta explicabo
      aspernatur illum dolorum molestiae itaque tenetur, eum aliquam ducimus repellendus incidunt molestias ea dolorem
      minima, omnis veritatis amet pariatur? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt
      provident corrupti quos ea nobis accusamus ipsum aspernatur fuga nisi tenetur atque, debitis soluta eum dolor
      eligendi id aperiam exercitationem! Delectus. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Perspiciatis voluptate soluta non esse debitis quasi deleniti, totam dolores vitae aut, iusto numquam dolor,
      aliquam error distinctio cupiditate quae! Quod, temporibus. Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Ipsa, quasi. Sapiente quas rem corporis iusto, animi veritatis culpa velit officiis, est doloremque
      obcaecati eum! Velit repudiandae ipsam cum praesentium unde.</div>


    <div class="home-content" style="height:100%;background-color:black;font-size:150%;color:white">
      <h2 class="home-header">Education</h2>

      <p class="home-description">
        Centennial High School, Peoria, AZ <br>
        Expected Grad Date: May 2020 <br>
        West-MEC Coding Program <br>
        GPA: 4 <br>
        Relevant Coursework: Computer Programming and Tech,
        <br> Game Design and Development,
        <br> AP Computer Science A.
      </p>
    </div>

    <div class="parallax-4" style="color: transparent">Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Consequuntur molestias ducimus et voluptate dignissimos aliquam assumenda, sint dolores animi iure modi
      voluptatibus eius laudantium velit nobis distinctio nemo ad dolor? Lorem ipsum, dolor sit amet consectetur
      adipisicing elit. Officiis eveniet cumque nam aspernatur incidunt nulla suscipit voluptatem magni architecto,
      asperiores maxime ipsum. Temporibus, minus. Molestias recusandae saepe officia veritatis praesentium? Lorem ipsum
      dolor, sit amet consectetur adipisicing elit. Quaerat officia, architecto voluptatum id ratione cum ipsam, nam
      vero, nulla obcaecati totam tenetur eius? Corporis ad rem mollitia exercitationem perspiciatis praesentium. Lorem
      ipsum dolor, sit amet consectetur adipisicing elit. Dicta, numquam voluptatem cumque minus asperiores tempora
      quibusdam rem exercitationem recusandae aperiam necessitatibus veritatis hic fugiat nostrum nam, atque eligendi?
      Necessitatibus, voluptates. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam soluta explicabo
      aspernatur illum dolorum molestiae itaque tenetur, eum aliquam ducimus repellendus incidunt molestias ea dolorem
      minima, omnis veritatis amet pariatur? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt
      provident corrupti quos ea nobis accusamus ipsum aspernatur fuga nisi tenetur atque, debitis soluta eum dolor
      eligendi id aperiam exercitationem! Delectus. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Perspiciatis voluptate soluta non esse debitis quasi deleniti, totam dolores vitae aut, iusto numquam dolor,
      aliquam error distinctio cupiditate quae! Quod, temporibus. Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Ipsa, quasi. Sapiente quas rem corporis iusto, animi veritatis culpa velit officiis, est doloremque
      obcaecati eum! Velit repudiandae ipsam cum praesentium unde.</div>


    <div class="home-content" style="height:100%;background-color:black;font-size:150%;color:white;">
      <h2 class="home-header">Employment/Volunteer Activities</h2>

      <p class="home-description">
        Uncle Sam's, Peoria, AZ <br>
        7/2018 - 11/2018 <br>
        Busser <br>
        Responsibilities include: Clean tables, wash dishes, put away clean dishes/glasses, fill ice coolers.
      </p>
    </div>
  </section>


  <script type="text/javascript" src="../public/javascripts/StaticScript.js"></script>

  <!-- Bootstrap/JQuery Scripts -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
</body>

</html>